body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff;
    color: #022A50;
    margin: 0px;
}

.content {
    padding: 20px;
}

a {
    color: #022A50;
    text-decoration: none;
}

.results {
    border: 2px solid #022A50;
    border-radius: 10px;
    box-shadow: #A2C7E5 5px 5px;
    padding: 10px;
    width: fit-content;
}

#btn, button {
    border-radius: 8px;
    border: 0px;
    padding: 5px;
    background-color: #022A50;
    color: white;
    margin-top: 10px;
}

#btn:hover, button:hover {
    box-shadow: 3px 3px 6px #A2C7E5;
}

#dload {
    margin-top: 10px;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #A2C7E5;
    justify-content: space-between;
    padding: 10px;
}

#language {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#language div {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    height: fit-content;
}
