body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff;
    color: #022A50;
    margin: 0px;
}

.content {
    padding: 20px;
    margin: 0 auto;
    min-height: 80vh;
}

a {
    color: #022A50;
    text-decoration: none;
}

#btn, button {
    border-radius: 8px;
    border: 0px;
    padding: 5px;
    background-color: #022A50;
    color: white;
    margin-top: 10px;
}

#btn:hover, button:hover {
    box-shadow: 3px 3px 6px #A2C7E5;
}

#dload {
    margin-top: 10px;
}

.results {
    border: 2px solid #022A50;
    border-radius: 10px;
    box-shadow: #A2C7E5 5px 5px;
    padding: 10px;
    width: fit-content;
}

header {
    background-color: #A2C7E5;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#lang {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 5px;
    align-items: center;
}

#lang div {
    margin: 10px;
    font-size: 1.1em;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

header h1 a:hover {
    text-decoration: underline;
}

footer {
    background-color: #A2C7E5;
    padding: 10px;
    text-align: center;
}

